body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: -10px;
}
#new-projekt{
    margin-left: 15px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #ff369c;
    
}
#new-projekt:hover{
    background-color: #006bd2;
    
}
#button-log-in{
    margin-left: 25px;
}
.logo {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    margin-bottom: 0px; /* Adjust the margin-bottom as desired */
}
.rechtsgerueckt {
    margin-left: 50px;
  }
.startseite {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
}

#buttons-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button {
    padding: 10px 20px;
    background-color: #f4a246;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s;
}

.button:hover {
    background-color: #006bd2;
    transform: scale(1.1);
}

#anmelden {
    max-width: 300px;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    text-align: center;
}

input[type="email"],
input[type="password"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #006bd2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 0px;
    transition: transform 0.3s;
    float: left;
}

input[type="submit"]:hover {
    background-color: #006bd2;
    transform: scale(1.1);
}
#button-back{
    display:flex;
    float: right;
    
  margin-left: 5px;
    padding-top: 5%;
    padding-bottom: 4%;
    background-color:#ff369c;
}
#neuesProjekt-tabelle{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    display:none;
}
#neuesProjekt-form{
    display:none;
}
/* Update form styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

input[type="submit"],
a.button {
    padding: 10px 20px;
    background-color: #006bd2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s;
}

input[type="submit"]:hover,
a.button:hover {
    background-color: #0059a3;
    transform: scale(1.1);
}

a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-decoration: none;
}

#neuesProjekt-tabelle {
    margin-top: 20px;
    padding: 20px;
}
